<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>json</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>work.tkgstrator.salmonia3plus</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>npf0c1afa76bd1a3c9b</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>splatoon1chzh.ttf</string>
		<string>splatoon1jpja.ttf</string>
		<string>splatoon1twzh.ttf</string>
		<string>splatoon2chzh.ttf</string>
		<string>splatoon2jpja.ttf</string>
		<string>splatoon2twzh.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
